# Git
.git
.gitignore

# Docker
.docker

# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.pytest_cache/
node_modules/
dist/
build/
.DS_Store
.idea
.vscode
.env
credentials/
**/data/web/*
Dockerfile
docker-compose.override.yml
